body{
  margin: 0px;
  background-color: rgb(242, 242, 242);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, white;
 
}
main{
margin-left:72px;  
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 10px;
  height: 60px;
  font-style: oblique;
  font-size: larger;
  /* border-bottom: 1px solid black; */
}
.main--thoughts{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 10px;
}   
.building-growng{
  width: 644px;
  
  text-decoration-line: underline;
}

.explor{
  width: 1056px;
  
}
.explor-h{
  width: 200px;
  font-weight: 500;
}
.explor-images{
  display: flex;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 140px;
  margin-left: 140px;
}
.explor-image{
  height: 312px;
  width: 310px;
  border-radius: 5px;
  justify-content: center;
}

.footer{
  height: 100%;
  background-color: rgba(8, 73, 53, 1);
}
.footer-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
  color: wheat;
}

.linked{
  color: wheat;
}
  .linked:link {
    text-decoration: underline;
  }
  
  .linked:visited {
    text-decoration: none;
  }
  
  .linked:hover {
    text-decoration: none;
  }
  
  linked:active {
    text-decoration: none;
  }


.footer-about{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: rgba(232, 214, 182, 0.559);
}
